<div ng-controller="WeeklyTotalController">
    <p>{{ message }}</p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ISO Year</th>
                <th>ISO Week Number</th>
                <th>Start date of week</th>
                <th>Count</th>
                <th>Total Amount</th>
                <th>Average per Day</th>
            </tr>
        </thead>
        <tr ng-repeat="week in weeklyTotals">
            <td>{{ week.year }}</td>
            <td>{{ week.week_number }}</td>
            <td>{{ week.start_date | date:'fullDate' }}</td>
            <td>{{ week.count }}</td>
            <td>{{ week.total | currency }}</td>
            <td>{{ week.average | number:2 }}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="#/">Expense List</a>
</div>
